<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %> </h4>
      <% if (process.env.NODE_ENV !== "production") { %>
      <p><small><%= err.stack %></small> </p>
      <% } %>
      <hr>
      <p class="mb-0"><em>With a good conscience our only sure reward, with history the final judge of our deeds, let us go forth to lead the land we love, asking His blessing and His help, but knowing that here on earth God's work must truly be our own.</em></p>
    </div>
  </div>
</div>